.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: aliceblue;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;

  button {
    margin: 0 10px;
  }
}
